{#
/**
 * @file
 * Application review mail.
 *
 * @ingroup themeable
 */
#}
<html>
  <body>
    {{ 'Hello, A candidate has submitted an application with your operating site listed as their first choice.'|t }}
    <br/>
    {{ 'Please visit'|t }} {{ link }} {{ 'to review this application'|t }}
  </body>
</html>
